@spacecomx:registry=https://registry.npmjs.org/
# The following lines are only used during CI/CD publishing
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
# //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}